# Set to "false" to disable Keycloak authentication (guest mode)
AUTH_ENABLED=false

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=myrealm
KEYCLOAK_CLIENT_ID=streamlit-app
KEYCLOAK_CLIENT_SECRET=
REDIRECT_URI=http://localhost:8501
